<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AbsenceTrackerUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MSSQLServerConnectionString"
        connectionString="Server=localhost;Database=AbsenceTracker;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="PostgreSQLConnectionString"
        connectionString="User ID=absence_tracker_app;Password=password;Host=localhost;Port=5432;Database=absence-tracker;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <AbsenceTrackerUI.Properties.Settings>
      <setting name="DefaultUserId" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseConnection" serializeAs="String">
        <value>PostgreSQL</value>
      </setting>
    </AbsenceTrackerUI.Properties.Settings>
  </userSettings>
</configuration>