<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AbsenceTrackerUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MSSQLServerConnectionString"
        connectionString="Server=localhost;Database=AbsenceTracker;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="PostgreSQLLocalhostConnectionString"
        connectionString="User ID=absence_tracker_app;Password=password;Host=localhost;Port=5432;Database=absence-tracker;" />
    <add name="PostgreSQLHerokuConnectionString"
    connectionString="User ID=eaaxslbozfmprs;Password=605fc2049625c815e1dfe458f4473ca0d26b2421e2cb4ae928356222e3a039f4;Host=ec2-176-34-237-141.eu-west-1.compute.amazonaws.com
;Port=5432;Database=d4n8n87t523vj1;Pooling=true;SSL Mode=Require;TrustServerCertificate=True;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <AbsenceTrackerUI.Properties.Settings>
      <setting name="DefaultUserId" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseConnection" serializeAs="String">
        <value>PostgreSQL</value>
      </setting>
    </AbsenceTrackerUI.Properties.Settings>
  </userSettings>
</configuration>